*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    
    justify-content: center;
    text-align: center;
   
}
.header{
    
    position: sticky;
    top: 1;
    padding: 1vh;
    margin : 1vh;
    width: 100%;
    height: auto;

    
}

#tribute-info{
    padding :3vh;
    margin: auto;
    text-align: center;
    font-family: 'Mace SC', cursive;
    

}

h1{
    color:goldenrod;
    font-size: 10vh;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
}
#img-caption{
    color: white;
}
.responsive{
    width: 100%;
    height: auto;
}
#main{
    padding: 5vh;
    margin: 5vh;
    margin-left: 8vh;
    margin-right: 8vh;
    text-align: center;
    font-family: 'Mace SC', cursive;
    font-size: larger;
}
#footer{
    padding: 3vh;
    text-align: center;
    font-family: 'Mace SC', cursive;
    font-size: larger;
    background-color: rgb(204, 204, 204);
}
#tribute-link{
    font-family: 'Mace SC', cursive;
    color: goldenrod;
    text-decoration: none;
   
}